
:root {
    --main-color: #FFFFFF;
    --color-section:#2196F3;
    --black-white-color:#212121;
    --imail-color :#757575;
    --first-section-backgraund:#2F303A;
    --secondwhite:#F5F4FA;
    --logo-color:#000;

}



.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid black; */
}




body{
font-family: "Roboto";
}

.header{
    background-color: var(--main-color);

    padding-top: 25px;
    padding-bottom: 24px;
    
   
}

.header-logo{
    color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;

}

.header-web{
    color: var(--color-section);
}

.nav-link{
color: var(--black-white-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-link:hover{
color: var(--color-section);
}

.header-link{
    color: var(--imail-color);

font-size: 14px;

font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.hero{
    padding-top:200px;
    padding-bottom: 200px;
    background-color: var(--first-section-backgraund);
}

.hero-title{
color: var(--main-color);
text-align: center;
font-size: 44px;
line-height: 1.36;
font-weight: 900;
letter-spacing: 2.64px;
text-transform: uppercase;
}


.hero-butten{
color: var(--main-color);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87;
letter-spacing: 0.96px;

background-color: var(--color-section);
}

.advnt{
    padding-top: 94px;
}

.advnt-title{
color: var(--black-white-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.advnt-text{
color: var(--imail-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;
}

.work{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-title{
color: var(--black-white-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}

.team{
    background-color: var(--secondwhite);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title{
    color: var(--black-white-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
}


.team-name{
    color: var(--black-white-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}

.team-text{
    color: var(--imail-color);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
}


.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-section-backgraund);
}

.logo-footer{
    color: var(--main-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}
.footer-web{
color: var(--color-section);
}

.footer-map{
    color: var(--main-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;
}

.footer-link{
    color: var(--imail-color);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; 
letter-spacing: 0.42px;

}


/* flex-box */


.header-box{
    display: flex;
    align-items: center;
}



.header-logo{
    margin-right: 93px;
}




.header-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}


.nav-list{
    display: flex;
    gap: 50px;
}

.hero-box{
    display: flex;
   
  flex-direction: column;

}

.hero-title{
    width: 696px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
 
}

.hero-butten{
 display: block;
 justify-content: center;
margin-left: 468px;
margin-right: 468px;
padding:10px ;
  

}

.advnt-list{
display: flex;
flex-direction: row;
gap: 30px;
}



.advnt-title{
    margin-bottom:10px ;
}



.work-list{
    display: flex;
    gap: 30px;
}

.work-title{
    margin-bottom: 50px;
}



.team-list{
    display: flex;
    gap:30px ;
}


.team-item{
    background-color:#FFFFFF ;

}






.team-title{
margin-bottom: 50px;
}



.h3-p-team-list{
    padding-top: 30px;
    padding-bottom: 30px;
}


.footer-list{
    margin-top: 20px;
}

.footer-style{
    margin-bottom: 9px;
}



/* flex-box-portfolio */

.card{
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-list{
    display: flex;
   flex-wrap: wrap;
   gap: 30px;


}



.card-item{
    background-color: #FFFFFF;
    border: 1px solid #EEE;
    width: 370px;
}

.card-title{
margin-top: 20px;
margin-left: 24px;
margin-bottom: 4px;
}

.card-text{
    margin-bottom: 20px;
    margin-left: 24px;
}


.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
   
    gap: 8px;



}

.button-btn{
    background-color: #F5F4FA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    border: none;

    
}

/* ----------------------------------------------------------------- */




.button-btn{
    color: var(--black-white-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
background-color: var(--secondwhite);
}


.button-btn:hover{
    background-color: var(--color-section);
    color: var(--main-color);
}

.card-title{
    color: var(--black-white-color);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.card-text{
    color: var(--imail-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}