.advnt{
    padding-top: 94px;

    &__list{
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    &__title{
        color: $black-white-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom:10px ;
        }
        
        &__text{
        color: $imail-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.71; 
        letter-spacing: 0.42px;
        }

        &__item{
        &::before{
            content: "";
            background-repeat: no-repeat;
            display: block;
            width: 270px;
            height: 120px;
            background-image: url(../img/antenna.png) ;
            margin-bottom: 30px;
            background-color: $secondwhite;
            background-position: center;

            
        }
        &:nth-child(2)::before{
            background-image: url(../img/clock.png);
        }
        &:nth-child(3)::before{
            background-image: url(../img/diagram.png);
        }
        &:nth-child(4)::before{
            background-image: url(../img/astronaut.png);
        }
    }


}




    



