.card{
    padding-top: 94px;
    padding-bottom: 94px;
}

.card-list{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   list-style: none;
}

img{
    display: block;
}
.card-img{
    width: 100%;
    
}



.img-div{
    overflow: hidden;
    position: relative;
}

.card-item{
    background-color: #FFFFFF;
    border: 1px solid #EEE;
    width: 370px;
    flex-basis: calc((100% - 100px) / 3);

    position: relative;
    overflow: hidden;
    
}
.card-item:hover{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    .lorem-card{
        transform: translateY(-0px);
    }
}

.card-title{
margin-bottom: 4px;
}




.card-text-title-div{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}



.lorem-card{
    color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.90);
    height: 294px;
    
 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 25px;

    transform: translateY(400px);
    transition: transform 1s;
}

.lorem-text{
    width: 322px;
    height: 168px;

}



.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.button-btn{
    background-color: #F5F4FA;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: none;
}

/* ----------------------------------------------------------------- */




.button-btn{
color: var(--black-white-color);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.62;
letter-spacing: 0.48px;
background-color: var(--secondwhite);
border-radius: 4px;

transition-property: color, background-color, border;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 250ms;
}


.button-btn:hover{
    background-color: var(--color-section);
    color: var(--main-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.card-title{
    color: var(--black-white-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.70px;
}

.card-text{
    color: var(--imail-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.48px;
}