





:root {
    --main-color: #FFFFFF;
    --color-section:#2196F3;
    --black-white-color:#212121;
    --imail-color :#757575;
    --first-section-backgraund:#2F303A;
    --secondwhite:#F5F4FA;
  }




body{
   
    font-family: "Roboto";

}









header{
    background-color:var(--main-color);
}
.maintext{
    color: var(--color-section);
    font-family: "Raleway";
    
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.main-span{
    color:var(--black-white-color);
    

}
.studia-a{
    color: var(--black-white-color);
   
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;

}

.studia-a:hover{
    color:  var(--color-section);
   

}

.portfolio-a{
    color: var(--black-white-color);
    font-family: "Raleway";
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.portfolio-a:hover{
    color:  var(--color-section);
    

}

.contacts-a{
    color: var(--black-white-color);
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;


}

.contacts-a:hover{
    color: var(--color-section);
    

}

.imail{
    color: var(--imail-color);

font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.imail:hover{
    color:  var(--color-section);
    

}

.telefon{
    color: var(--imail-color);

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.telefon:hover{
    color:  var(--color-section);
    

}


.efectnisection{
    background-color:var(--first-section-backgraund) ;
  
}


h1{
    color: var(--main-color);

    line-height: 0.5333333333;


text-align: center;

font-size: 44px;
font-style: normal;
font-weight: 900;

letter-spacing: 2.64px;
text-transform: uppercase;
}

.butten-first-section{
    background: var(--color-section);
color: var(--main-color);

line-height: 0.5333333333;

text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 700;

letter-spacing: 0.96px;
}

.h3section2{
    color:  var(--black-white-color);
  


font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.p-section2{
    color: var(--imail-color);

    line-height: 0,5833333333333333;


font-size: 14px;
font-style: normal;
font-weight: 400;

letter-spacing: 0.42px;
}

.section-work-title{
    color: var(--black-white-color);

    line-height: normal;


text-align: center;

font-size: 36px;
font-style: normal;
font-weight: 700;

letter-spacing: 1.08px;
}
.section-4{
    background: var(--secondwhite);

}

.rbotacomand{
    color: var(--black-white-color);




line-height: normal;

text-align: center;

font-size: 36px;
font-style: normal;
font-weight: 700;

letter-spacing: 1.08px;

}

.rabota{
   color: var(--imail-color); 

   line-height: normal;


text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;

letter-spacing: 0.48px;
}
.name-section-4{
    color: var(--black-white-color);

    line-height: normal;


text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 500;

letter-spacing: 0.48px;
}


.logo-footer{
    color: var(--color-section);
    font-family: "Raleway";
    line-height: normal;




font-size: 26px;
font-style: normal;
font-weight: 700;

letter-spacing: 0.78px;
}

.spanfooter{
    color: var(--main-color);

    }


    footer{
        background: var(--first-section-backgraund);

    }

    .kiev{
        color: var(--main-color);

        line-height: 0,5833333333333333;

        color: #FFF;

font-size: 14px;
font-style: normal;
font-weight: 400;

letter-spacing: 0.42px;
    }


.imeil2{
    color: var(--imail-color);

    line-height: 0,5833333333333333;


font-size: 14px;
font-style: normal;
font-weight: 400;

letter-spacing: 0.42px;
}

.tell2{
    color: var(--imail-color);

    line-height: 0,5833333333333333;


font-size: 14px;
font-style: normal;
font-weight: 400;

letter-spacing: 0.42px;
}



.card-title{
color: var(--black-white-color);
line-height: 0.5;
font-size: 18px;
font-style: normal;
font-weight: 700;
letter-spacing: 1.08px;
}

.card-text{
color: var(--imail-color);
line-height: 0,53;
font-size: 16px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.48px;
}

.button-portfolio{

    background-color: var(--secondwhite);
    color: var(--black-white-color);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:26px ; 
letter-spacing: 0.48px;
border-radius: 4px;
}

.button-portfolio:hover{
background-color: var(--color-section);
}










