a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto";
}

.header {
  padding: 16px 0;
  background-color: #FFFFFF;
  border: 1px solid #EEE;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #000;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
  animation: logo-scale 5000ms alternate infinite;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__logo__web {
  color: #2196F3;
}
.header__btn {
  margin-left: 50px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
  fill: #000;
}
.header__link {
  color: #757575;
  transition-property: color, background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.24px;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__link .icon__header {
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header__link .icon__header__phone {
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.header__link:hover {
  color: #2196F3;
}
.header__link:hover .header__icon {
  fill: #2196F3;
}
.header__link:hover .header__icon__phone {
  fill: #2196F3;
}
.header__link:focus {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.header__link:focus .icon__header {
  fill: #2196F3;
}
.header__link:focus .icon__header__phone {
  fill: #2196F3;
}
.header__list {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    gap: 30px;
    flex-direction: row;
  }
}
.header__icon {
  height: 12px;
  width: 16px;
  fill: #757575;
}
.header__icon:hover {
  height: 12px;
  width: 16px;
  fill: #2196F3;
}
.header__icon__phone {
  height: 16px;
  width: 10px;
  fill: #757575;
}
.header__icon__phone:hover {
  height: 16px;
  width: 10px;
  fill: #2196F3;
}
.header__nav {
  opacity: 0;
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    opacity: 1;
    display: block;
  }
}

.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color, background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: none;
}
.nav__link:hover, .nav__link:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
  }
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2196F3;
  margin-top: 28px;
  position: absolute;
  left: 0;
  bottom: 10;
  opacity: 0;
  transition-property: color, background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.nav__link:hover::after {
  opacity: 1;
}
.nav__item {
  position: relative;
}
.nav__list {
  display: flex;
  gap: 50px;
}

.studia__link {
  color: #2196F3;
}
.studia__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: #2196F3;
  margin-top: 28px;
  position: absolute;
  left: 0;
  bottom: 10;
  opacity: 1;
}

.menu {
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 0px 48px 40px;
  opacity: 1;
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.menu__btn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__close {
  width: 40px;
  height: 40px;
  fill: #212121;
}

.menu__item:first-child {
  margin-bottom: 36px;
}

.menu__item:nth-child(2) {
  margin-bottom: 32px;
}

.menu__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.8px;
}

.menu__link:hover {
  color: #2196F3;
}

.menu__position {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  margin-top: auto;
}

.menu__list-contact {
  margin-top: 200px;
}

.menu__item-contact:first-child {
  margin-bottom: 32px;
}

.menu__link-contact {
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.menu__item-contact:first-child .menu__link-contact {
  color: #2196F3;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.68px;
}

.menu__list-social {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
}

.menu__link-social {
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.menu__item-social:not(:last-child) {
  margin-right: 10px;
  display: flex;
}
.menu__item-social:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.hero {
  background: rgba(47, 48, 58, 0.4);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/backgraund.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__box {
  display: flex;
  flex-direction: column;
}
.hero__title {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 1.16;
  font-weight: 900;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__butten {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 24px;
  transition-property: color, background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 1200px) {
  .hero__butten {
    padding: 10px 32px;
  }
}

.advnt {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advnt {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.advnt__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advnt__title {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advnt__title {
    text-align: start;
  }
}
.advnt__text {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advnt__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advnt__text {
    width: 270px;
  }
}
.advnt__item::before {
  content: "";
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 120px;
  background-image: url(../img/antenna.png);
  margin-bottom: 30px;
  background-color: #F5F4FA;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .advnt__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advnt__item::before {
    width: 270px;
  }
}
.advnt__item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}
.advnt__item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}
.advnt__item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}
.work__title {
  color: #2F303A;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__wrap {
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.work__deck {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__img {
  width: 100%;
}
.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__taxt {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team__items {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__link {
  padding: 12px 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  border: none;
  background-color: #2196F3;
  outline: 0px solid #2196F3;
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: #FFFFFF;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .client {
    padding: 94px 0;
  }
}
.client__title {
  color: #000;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.client__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.client__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.client__item:hover .client__link {
  border-color: #757575;
}
.client__item:hover .client__icon {
  fill: #757575;
}
.client__link {
  border-radius: 4px;
  outline: 1px solid #afb1b8;
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
.footer > .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    align-items: first baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer > .container {
    gap: 0;
  }
}
.footer__wrapper {
  width: 235px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    text-align: start;
  }
}
.footer__logo {
  color: #FFFFFF;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__color {
  color: #2196F3;
}
.footer__address {
  font-style: normal;
  margin-top: 20px;
}
.footer__box {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-left: 70px;
    text-align: start;
  }
}
.footer__position {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}
.footer__link {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__title {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__items {
  display: flex;
  gap: 10px;
}
.footer__social {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social:hover {
  background-color: #2196F3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__block {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .footer__block {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    margin-left: 93px;
    text-align: start;
  }
}
.footer__subscribe {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    gap: 12px;
    flex-direction: row;
  }
}
.footer__input {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  color: #FFFFFF;
  background-color: #2196F3;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__plane {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .card__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .card__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
.card__item {
  flex-basis: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .card__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__item:hover .card__desk {
  opacity: 1;
  transform: translateY(0);
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__desk {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  padding: 63px 24px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__wrap {
  padding: 20px 24px;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.button__list {
  display: flex;
  gap: 8px;
  row-gap: 15px;
  flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .button__list {
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .button__list {
    justify-content: center;
    max-width: none;
  }
}

.button__btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  padding: 6px 22px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__btn:hover, .button__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(0) rotate(360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: visibility 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), box-shadow 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 1s;
  width: 460px;
  height: 609px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 603px;
  }
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
  text-align: center;
  width: 370px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: auto;
  }
}
.modal__form {
  font-size: 20px;
}
.modal__box {
  position: relative;
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.12px;
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: rgb(33, 33, 33);
  position: absolute;
  top: 55%;
  left: 14px;
}
.modal__input {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: rgba(0, 0, 0, 0);
  padding: 11px 12px 11px 42px;
  font-size: 14px;
  width: 370px;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
    height: 40px;
  }
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid #2196F3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196F3;
}
.modal__coment {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 370px;
  height: 120px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.14px;
  resize: none;
  outline: rgba(0, 0, 0, 0);
  font-size: 14px;
}
@media screen and (min-width: 1200px) {
  .modal__coment {
    width: 448px;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
}
.modal__coment:focus {
  border-color: #2196F3;
}
.modal__wrap {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 12px;
  margin-right: 11px;
}
.modal__checked {
  display: flex;
  align-items: center;
}
.modal__check {
  width: 16px;
  height: 15px;
}
.modal__span {
  color: #757575;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.36px;
  font-weight: 400;
  line-height: 1.71;
  margin-left: 8px;
}
@media screen and (min-width: 1200px) {
  .modal__span {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
.modal__link {
  color: #2196F3;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 24px;
  text-decoration-line: underline;
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;
  }
}
.modal__btn {
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 52px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 20px 85px;
}
@media screen and (min-width: 1200px) {
  .modal__btn {
    margin: 30px 120px 20px 120px;
  }
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__close:hover, .btn__close:focus {
  cursor: pointer;
}
.btn__close:hover .form__close, .btn__close:focus .form__close {
  fill: #2196F3;
}

.form__close {
  width: 18px;
  height: 18px;
  fill: rgb(0, 0, 0);
}/*# sourceMappingURL=main.css.map */