
:root {
    --main-color: #FFFFFF;
    --color-section:#2196F3;
    --black-white-color:#212121;
    --imail-color :#757575;
    --first-section-backgraund:#2F303A;
    --secondwhite:#F5F4FA;
    --logo-color:#000;
}
